:host {
  --card-width: 58px;
  --card-height: 105px;

  width: var(--card-width);
  height: var(--card-height);
  border-radius: clamp(8px, calc(var(--card-width) * 0.18), 10px);
  background-image: url('./../../../../assets/carte_napoletane.png');
  background-repeat: no-repeat;
  background-size: calc(1024px * (65 / 87)) calc(649px * (108 / 139));
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  position: relative;
  box-shadow: 0 calc(var(--card-height) * 0.038) calc(var(--card-height) * 0.076) rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
}

:host:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
