<div class="card-container">
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <div class="card-row">
          <app-card-na [card]="card" *ngFor="let card of cards | slice: 0 : 5" (click)="playCard($event, card)"></app-card-na>
        </div>
      </ion-col>
      <ion-col size="auto">
        <div class="card-row">
          <app-card-na [card]="card" *ngFor="let card of cards | slice: 5 : 10" (click)="playCard($event, card)"></app-card-na>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>