.container {
    flex-wrap: wrap;
    display: flex;
    // align-items: center;
    justify-content: center;
    height: 100%;
}

ion-card {
    --background: url('/assets/table.png') no-repeat center/70% fixed;
    height: 240px;
    width: 240px;
    box-shadow: none !important;
}

ion-avatar {
    height: 40px;
    width: 40px;
}

ion-chip {
    --background: var(--ion-color-primary);
    display: flex;
    justify-content: space-between;
    align-items: flex-end
    // width: 100px;
    // align-content: stretch;
    // align-items: center;
    // flex-direction: column-reverse;
}

ion-chip.nord {
    position: fixed;
    bottom: 150px;
    right: 83px;
    flex-direction: column-reverse;
}

ion-chip.sud {
    position: fixed;
    bottom: 10px;
    right: 86px;
    flex-direction: column;
}

ion-chip.ovest {
    position: fixed;
    bottom: 90px;
    right: 134px;
    flex-direction: row-reverse;
}

ion-chip.est {
    position: fixed;
    bottom: 90px;
    right: 0px;
    flex-direction: row;
}

img.play-cards {
    background-color: var(--ion-color-secondary) !important;
    padding: 5px;
    height: 40px;
    width: 40px;
}

img.nord {
    position: fixed;
    bottom: 192px;
    right: 102px;
}

img.sud {
    position: fixed;
    bottom: 5px;
    right: 102px;
}

img.ovest {
    position: fixed;
    bottom: 99px;
    right: 7px;
}

img.est {
    position: fixed;
    bottom: 99px;
    right: 197px;
}

.score {
    margin: 3px;
    text-align: center !important;
  }

  ion-badge {
    position: fixed;
  }

ion-content {
    height: 100%;
    --background: radial-gradient(ellipse at bottom, var(--ion-color-dark) 0%, #030617 100%);
  }