<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Tressette a 4 incrociato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <ion-card>
      <ion-chip class="nord">
        
        <ion-label>            
          <ion-avatar>
            <img alt="head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <ion-badge color="secondary">2</ion-badge>
          </ion-avatar> 
        </ion-label>
        <ion-label class="score">
          <p>2342</p>  
        </ion-label>
      </ion-chip>
      <ion-avatar>
        <img alt="play cards" src="assets/playCards.png" class="play-cards sud" />
      </ion-avatar>
      <ion-avatar>
        <img alt="play cards" src="assets/playCards.png" class="play-cards ovest" />
      </ion-avatar>
      <ion-avatar>
        <img alt="play cards" src="assets/playCards.png" class="play-cards est" />
      </ion-avatar>
    </ion-card>

    <ion-card>
      <ion-chip class="nord">
        <ion-label>         
          <ion-avatar>
            <img alt="head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar> 
        </ion-label>
        <ion-label class="score">
          <p>2342</p>
        </ion-label>
      </ion-chip>
      <ion-chip class="sud">
        <ion-label>         
          <ion-avatar>
            <img alt="head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar> 
        </ion-label>
        <ion-label class="score">
          <p>2342</p>
        </ion-label>
      </ion-chip>
      <ion-chip class="ovest">
        <ion-label>         
          <ion-avatar>
            <img alt="head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar> 
        </ion-label>
        <ion-label class="score">
          <p>2342</p>
        </ion-label>
      </ion-chip>
      <ion-chip class="est">
        <ion-label>         
          <ion-avatar>
            <img alt="head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar> 
        </ion-label>
        <ion-label class="score">
          <p>2342</p>
        </ion-label>
      </ion-chip>
    </ion-card>

    <ion-card>
      <ion-chip class="nord">
        <ion-label>         
          <ion-avatar>
            <img alt="head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar> 
        </ion-label>
        <ion-label class="score">
          <p>2342</p>
        </ion-label>
      </ion-chip>
      <ion-chip class="sud">
        <ion-label>         
          <ion-avatar>
            <img alt="head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <ion-badge color="secondary">2</ion-badge>
          </ion-avatar> 
        </ion-label>
        <ion-label class="score">
          <p>2342</p>
        </ion-label>
      </ion-chip>
      <ion-chip class="ovest">
        <ion-label>         
          <ion-avatar>
            <img alt="head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <ion-badge color="secondary">4</ion-badge>
          </ion-avatar> 
        </ion-label>
        <ion-label class="score">
          <p>2342</p>
        </ion-label>
      </ion-chip>
      <ion-chip class="est">
        <ion-label>         
          <ion-avatar>
            <img alt="head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <ion-badge color="warning">1</ion-badge>
          </ion-avatar> 
        </ion-label>
        <ion-label class="score">
          <p>2342</p>
        </ion-label>
      </ion-chip>
    </ion-card>

    <ion-card>
      <ion-avatar>
        <img alt="play cards" src="assets/playCards.png" class="play-cards nord" />
      </ion-avatar>
      <ion-chip class="sud">
        <ion-label>         
          <ion-avatar>
            <img alt="head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <ion-badge color="warning">2</ion-badge>
          </ion-avatar> 
        </ion-label>
        <ion-label class="score">
          <p>2342</p>
        </ion-label>
      </ion-chip>
      <ion-chip class="ovest">
        <ion-label>         
          <ion-avatar>
            <img alt="head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar> 
        </ion-label>
        <ion-label class="score">
          <p>2342</p>
        </ion-label>
      </ion-chip>
      <ion-chip class="est">
        <ion-label>         
          <ion-avatar>
            <img alt="head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar> 
        </ion-label>
        <ion-label class="score">
          <p>2342</p>
        </ion-label>
      </ion-chip>
    </ion-card>

  </div>
</ion-content>